/* =================================== GENERAL=============================================== */
html {
    font-size: 10px;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: hsl(226, 43%, 10%);
}

main {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
    overflow-y: scroll;
}


/* =============================== USER CARD ===================================================*/
.user-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20rem;
    background-color: hsl(235, 46%, 20%);
    border-radius: 2rem;
}

.user-card #top-part {
    background-color: hsl(246, 80%, 60%);
    height: 75%;
    width: 100%;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    h1 {
        color: hsl(236, 100%, 87%);
        font-size: x-large;
        margin-top: 1.0rem;
        font-weight: 400;
    }

    p {
        color: hsl(236, 100%, 87%);
        font-size: medium;
        font-weight: 400;
    }
}

.user-card #bottom-part {
    background-color: hsl(235, 46%, 20%);
    height: 35%;
    width: 100%;
    border-radius: 2rem;

}

.time-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.time-nav li {
    color: hsl(235, 45%, 61%);
    font-size: large;
    font-weight: 400;
}

.time-nav li:hover {
    color: #dddddd;
    cursor: pointer;
    transition: color ease-in-out 0.5s;
}

.time-nav li.active {
    color: #fafafa;
    font-weight: 500;
}


.user-card #top-part .user-image {
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 50%;
    border: .3rem solid white;
}



/* =================================== TIME CARDS ================================================ */
.time-cards {
    position: relative;
    display: grid;
    gap: 3rem;
}

.time-card {
    position: relative;
    display: flex;
    width: 30rem;
    height: 15rem;
    border-radius: 2rem;
    overflow: hidden;

    .top-row {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;


        p {
            color: white;
            font-size: small;
            font-weight: 500;
        }

        .menu-icon {
            position: absolute;
            top: .5rem;
            right: 1.5rem;
            width: 2rem;
            height: auto;
            cursor: pointer;
        }

    }


    .bottom-row {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .bottom-row .current-time {
        color: white;
        display: inline;
        font-size: x-large;
        font-weight: 300;

    }

    .bottom-row .previous-time {
        color: white;
        display: inline;
        color: hsl(236, 100%, 87%);
    }

}

.container img {
    position: absolute;
    top: -.5rem;
    right: .3rem;
}

.container .face {
    position: absolute;
    top: 4.5rem;
    bottom: 0;
    background-color: hsl(235, 46%, 20%);
    width: 100%;
    border-radius: 2rem;
}

#work .container {
    position: relative;
    ;
    background-color: hsl(15, 100%, 70%);
    width: 100%;
    border-radius: 2rem;
}

#play .container {
    position: relative;
    ;
    background-color: hsl(195, 74%, 62%);
    width: 100%;
    border-radius: 2rem;
}

#study .container {
    position: relative;
    ;
    background-color: hsl(348, 100%, 68%);
    width: 100%;
    border-radius: 2rem;
}

#exercise .container {
    position: relative;
    ;
    background-color: hsl(145, 58%, 55%);
    width: 100%;
    border-radius: 2rem;
}

#social .container {
    position: relative;
    background-color: hsl(264, 64%, 52%);
    width: 100%;
    border-radius: 2rem;
}

#self-care .container {
    position: relative;
    ;
    background-color: hsl(43, 84%, 65%);
    width: 100%;
    border-radius: 2rem;
}

/*==================================================QUERIES=================================================*/
/*TABLET*/
@media(max-width:76.8rem) and (min-width:42.5rem) {

    main{
        display: flex;
        flex-direction: column;
    }

    .user-card {
        width: 60rem;
    }

    .time-cards {
        grid-template-columns: repeat(2, 28rem);
        row-gap: 3rem;
        column-gap: 3rem;
    }

    .time-card{
        width: 100%;
    }
}
/*LAPTOP & BEYOND*/
@media(min-width:76.8rem) {

    main{
        display: flex;
    }

    .user-card {
        width: 30rem;
        height: 53rem;
    }

    .user-card #top-part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
    }

    .user-card #bottom-part ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
        margin-left: 3rem;
    }


    .user-card #top-part h1{
        font-size: 4.2rem;
        color: white;
        font-weight: normal;
        margin-left: 3rem;
    }

    .user-card #top-part p{
        margin-left: 3rem;
    }

    .user-card .user-image{
        margin-left: 3rem;
    }

    .time-cards {
        grid-template-columns: repeat(3, 30rem);
        row-gap: 3rem;
        column-gap: 3rem;
    }

    .time-card{
        width: 100%;
        height: 25rem;
    }

    .time-card .bottom-row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }


    .time-card .top-row p{
        font-size: medium; 
    }

    .time-card .bottom-row p{
        font-size: medium; 
    }


    .time-card .bottom-row .current-time{
        font-size: 4.2rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
}